body {
    margin: 0;
    font-family: 'Inter';
}

/* La barra de navegación*/
.topnav {

    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:#012241;
    padding:35px 40px;
    font-family: "Inter";
}

.logo {
    font-weight:bold;
    color:#f9dce5;
    margin-left: 120px; /* Permite mover la palabra hacia la izquierda */
    font-size: 65px;
    text-decoration: none;
    
}

.logo a {
    color:#f9dce5;
    text-decoration: none;
}

/* La barra de navegación y el color de los enlaces*/
.topnav-links {
   display: flex;
   gap: 30px;
   margin-right:120px;
}

.topnav-links a {
   font-size: 23px;
   color: #FED7DF;
   text-decoration: none;
  
}


/* La barra de navegación y el cambio de color al detenerse el ratón*/
.topnav a:hover {
    background-color:#FED7DF;
    color: 012241;
    border-radius: 5px;
}

.dropdown {
    position:relative
}

.dropdown-content {
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    background-color: #f9dce5;
    color:#012241;
    min-width: 180px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 99;
    border-radius: 5px;
}

.dropdown-content a {
  color: #012241;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  text-decoration: none;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*________________________________________________________________ */

.main-container {
    position: relative;
    background-color: #FED7DF;
    width: 1485px;
    height: 550px;
}

.title {

    position: relative;
    top:30px;
    text-align: center;
    font-family: "Anta";
    font-size: 30px;
}

.description-blog {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-family: "Inter";
    top: 90px;
    max-width: 660px;
    margin-left: 690px;
    font-size: 21px;
}

.side-image {
    position: relative;
    bottom: 190px;
    display: flex;
    flex-direction: column;

}

.side-image img {
  width: 450px;         /* Make it fill the parent’s width */
  height: auto;        /* Maintain aspect ratio */
  max-width: 450; /* Cap the maximum width (adjust as needed) */
  border-radius: 10px; /* Optional: rounded corners */
  margin-left: 120px;  /* Move it right if you want */
}

/* ____________________________ */
/*Footer de la página*/
.footer {
  position: relative;
  top: 0px;
  max-width: 1480px;
  width: 1470px;
  background:#012241;
  box-sizing: border-box;
  font-family: 'Inter';
  height: 490px;
}

/*La fila del footer*/
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 60px;
}

/*La columna del footer*//*Los títulos de la fila del footer*/
.footer-row .footer-col h4 {
  color: white;
  font-size: 40px;
  font-style: italic;
  font-family: "Anta";
  margin-top: 20px;
  text-align: center;
}

/*El estilo de los vínculos*/
.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-col .links li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-family: "Inter";
}
.footer-col .links li a:hover {
  color: #f9dce5;
}

/*El estilo del párrafo*/
.footer-col p {
  margin: 20px 0;
  color: white;
  position: relative;
  top:25px;
  max-width: 300px;
  font-size: 40px;
}

/*El estilo de los íconos*/
.icons {
  position: relative;
  top:25px;
}

.icons-click {
  text-decoration: none;
}

.icon {
    width:40px;
    height:40px;
    object-fit: contain; /*Los objetos tienen una posición en donde toman todo el espacio necesario. */
  
}